# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

latex/
html/
xcode/jdksavdecc-mcu/build
xcode/jdksavdecc-mcu/DerivedData
jdksavdeccmcu-arduino
//*.xcuserdata/
xcuserdata

